.modal-graficos {
  position: fixed;
  top: 20%;
  left: 30%;
  width: 500px;
  height: 400px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  z-index: 2000;
  overflow: hidden;
  cursor: default; 
  border: 1px solid #ddd;
  font-family: 'Poppins', sans-serif; 


}

.header-graficos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f4f4f4;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  cursor: move; /* Cursor de movimentação */
}

.header-graficos h2 {
  margin: 0;
  font-size: 16px;
  color: #333;
}

.header-graficos button {
  background: #ff4d4d;
  border: none;
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.header-graficos button:hover {
  background: #ff0000;
}

.body-graficos {
  padding: 20px;
  overflow: auto;
}
