<div class="modal-container" id="modal-container"
     (mousedown)="arrastarcomeco($event)" 
     (mousemove)="arraste($event)" 
     (mouseup)="parararraste()">
  <div class="modal-header">
    <h2>{{ dadosGrafico?.setorNome || 'Nome do Setor Indisponível' }}</h2>
    <button class="botao-fechar" (click)="fecharModal()">X</button>
  </div>
  <div class="modal-body">
    <h3>Inteiras</h3>
    
    <canvas id="canvasInteiras"></canvas>
    <button (click)="resetarZoom()">Resetar Zoom</button>


    <h3>Booleanas</h3>
    <canvas id="canvasBooleanas"></canvas>
  </div>
  <div class="mudatamanho" id="mudatamanho"
       (mousedown)="comecarRedimensionar($event)"></div>
</div>
