<div class="modal-container" id="modal-container"
     (mousedown)="arrastarcomeco($event)" 
     (mousemove)="arraste($event)" 
     (mouseup)="parararraste()">
  <div class="modal-header">
    <h2>{{ dadosGrafico?.setorNome || 'Nome do Setor Indisponível' }}</h2>
    <button class="botao-fechar" (click)="fecharModal()">X</button>
  </div>
  <div class="modal-body">
    <h3>Gráfico de Tags Inteiras</h3>
    <canvas id="canvasInteiras"></canvas>

    <h3>Gráfico de Tags Booleanas</h3>
    <canvas id="canvasBooleanas"></canvas>
  </div>
  <div class="resize-handle" id="resize-handle"
       (mousedown)="comecarRedimensionar($event)"></div>
</div>
