<div class="modal-container">
  <h2>Consulta de Histórico</h2>
  <div class="grid-container">
    <!-- Período de Consulta -->
    <div class="grid-item">
      <fieldset>
        <legend>Período de Consulta</legend>
        <label>
          <input type="radio" name="periodo" value="dia" [(ngModel)]="periodoSelecionado" (change)="onPeriodoChange()"> Dia
        </label>
        <label>
          <input
            type="radio"
            name="periodo"
            value="mes"
            [(ngModel)]="periodoSelecionado"
            (change)="abrirModalMes()"
          />
          Mês
        </label>
        <label>
          <input type="radio" name="periodo" value="custom" [(ngModel)]="periodoSelecionado" (change)="onPeriodoChange()">Customizável
        </label>
      </fieldset>
    </div>

<!-- Datas -->
<div class="grid-item">
  <fieldset>
    <legend>Data</legend>
    <label>Data Inicial:</label>
    <input type="date" [(ngModel)]="dataInicio" (change)="atualizarHorario()"/>
    <input type="time" [(ngModel)]="horaInicio" />

    <label>Data Final:</label>
    <input type="date" [(ngModel)]="dataFim" [disabled]="periodoSelecionado === 'dia' || periodoSelecionado === 'mes'" />
    <input type="time" [(ngModel)]="horaFim" />
  </fieldset>
</div>

<div class="modal-overlay" *ngIf="mostrarModalMes" (click)="fecharModalMes()"></div>
<div class="modal-seletor-mes" *ngIf="mostrarModalMes">
  <h3>Selecione o Mês</h3>
  <div class="meses-container">
    <button *ngFor="let mes of meses" (click)="selecionarMes(mes)">
      {{ mes.nome }}
    </button>
  </div>
  <button class="close-button" (click)="fecharModalMes()">Fechar</button>
</div>


    
    
    <!-- Seleção de Setor -->
    <div class="grid-item">
      <fieldset>
        <legend>Setores</legend>
        <input 
          list="setoresDatalist" 
          placeholder="Nome do Setor..." 
          (input)="onSetorInput($event)" 
        />
        <datalist id="setoresDatalist">
          <option *ngFor="let setor of setores" [value]="setor.nome">
            {{ setor.nome }}
          </option>
        </datalist>
      </fieldset>
    </div>
    
    
    

    <!-- Tags -->
    <fieldset>
      <legend>Tags</legend>
      <div class="tags-container">
        <div class="tag-item" *ngFor="let tag of tags">
          <label>
            <input 
              type="checkbox" 
              (change)="toggleTagSelection(tag)" 
              [checked]="isTagSelecionada(tag.id)"
            />
            {{ tag.nome }}
          </label>
        </div>
      </div>
    </fieldset>
    
    
    
    
    <div class="historico-container">
      <table class="tabela-historico">
        <thead>
          <tr>
            <th>Data</th>
            <th *ngFor="let tag of tagsSelecionadas">
              {{ tag.nome }} <span *ngIf="tag.unidadeMedida">({{ tag.unidadeMedida }})</span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let registro of dadosHistorico">
            <td>{{ registro.tempoInformacao || '-' }}</td>
            <td *ngFor="let tag of tagsSelecionadas">
              {{ registro[tag.nome] !== undefined ? registro[tag.nome] : '-' }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    


    <!-- Filtro de Intervalo -->
    <!-- <div class="grid-item">
      <fieldset>
        <legend>Filtro de Intervalo</legend>
        <label><input type="radio" name="filtro" value="sem-filtro" checked> Sem filtro</label>
        <label><input type="radio" name="filtro" value="15-min"> 15 min</label>
        <label><input type="radio" name="filtro" value="30-min"> 30 min</label>
        <label><input type="radio" name="filtro" value="60-min"> 60 min</label>
      </fieldset>
    </div>
  </div> -->

  <!-- Ações -->
  <div class="acoes">
    <button (click)="consultarHistorico()">Consultar</button>
    <button (click)="abrirModalGraficos()">Gráficos</button>
    <button>Exportar</button>
    <button>Excluir</button>
  </div>

  <div *ngIf="modalGraficosAberto" class="modal-graficos">
    <div 
      class="conteudo-graficos draggable-modal" 
      (mousedown)="iniciarArraste($event)" 
      (mouseup)="finalizarArraste()"
    >
      <div class="header-graficos">
        <h2>Gráficos</h2>
        <button (click)="fecharModalGraficos()">Fechar</button>
      </div>
      <div class="body-graficos">
        <!-- Canvas para o gráfico -->
        <canvas id="graficoCanvas"></canvas>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button class="close-button" (click)="fecharModal()">Fechar</button>
  </div>
