<header>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
  <button class="sidebar-toggle" onclick="toggleSidebar()">☰</button>
  <nav class="navbar">
    <img src="../../assets/image/logocosanpa2.png" alt="Logo" class="logo">
    
    <ul class="nav-links">
      <li><a href="#" onclick="event.preventDefault()">Principal</a></li>
      <li><a href="#" onclick="event.preventDefault()">Produção</a></li>
      <li><a href="#" onclick="event.preventDefault()">UNSUL</a></li>
      <li><a href="#" onclick="event.preventDefault()">UNBR</a></li>
      <li><a href="#" onclick="event.preventDefault()">UNNORTE</a></li>
      <li><a href="#" onclick="event.preventDefault()">UNAM</a></li>
      <li><a href="#" onclick="event.preventDefault()">UNNE</a></li>
      <li><a href="#" onclick="event.preventDefault()">UESTE</a></li>
    </ul>

    <img src="../../assets/image/iconebranco.svg" alt="Icon" class="icon"> <!-- Ícone após o último item da navbar -->
  </nav>
</header>

<div class="entrada-container">
  <main class="map-container">
    <div id="map"></div>
  </main>

  <!-- Pop-ups para cada setor aqui (Produção, UNSUL, etc.) -->
</div>

<router-outlet></router-outlet>
