body {
    font-family: 'Poppins', sans-serif;
    margin: 0; 
    height: 100vh; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    background: url('../../assets/image/cosanpa-1.jpeg') no-repeat center center fixed; 
    background-size: cover; 
}

  
.error-message {
    position: absolute; 
    top: 20px; 
    right: 20px; 
    background-color: rgba(255, 0, 0, 0.9); 
    color: white;
    padding: 10px; 
    font-family: 'Poppins', sans-serif; 
    border-radius: 5px; 
    z-index: 1000; 
    width: auto; 
}



.login-container {
    display: flex;
    width: 100%; 
    height: 100%; 
    justify-content: center; 
    align-items: center; 
}

.login-form {
    width: 90%; 
    max-width: 544px; 
    height: 650px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 8px; 
}

.image-container {
    width: 536px; 
    height: 650px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-image {
    width: 100%; 
    height: 100%;
    object-fit: cover; 
    object-position: center; 
}

.logo {
    width: 64px;
    height: 66px;
    margin-bottom: 20px;
}

h1 {
    font-size: 34px;
    color: #030303;
    font-weight: 500; 
    margin-bottom: 5px; 
    text-align: center; 
}

p {
    font-size: 14px;
    color: #636364;
    margin: 0px 0 25px; 
    text-align: center; 
}

.form-group {
    width: 100%; 
    margin-bottom: 15px;
}

.remember-me-container {
        display: flex;
        align-items: center; 
        width: 100%; 
        margin-top: 22px; 
    

    input[type="checkbox"] {
        margin-right: 20px; 
    }

    .forgot-password {
        color: #28166F;
        
        font-size: 14px; 
        margin-left: 15px; 
    }
}

label {
    font-size: 14px;
    color: #181818;
    margin-bottom: 5px;
    display: block; 
}

.input-field {
    width: 100%; 
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 10px;
}

.forgot-password {
    color: #28166F;
    text-decoration: none;
    display: block; 
    margin-top: 10px; 
}

.login-button {
    width: 108%;
    height: 41.31px;
    background-color: #28166F;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
}

.footer {
    margin-top: 20px; 
    text-align: center; 
}

.signup-link {
    color: #28166F;
    text-decoration: none;
}


.modal {
    position: fixed;
    z-index: 1001;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    background: white;
    border-radius: 8px;
    padding: 20px;
    width: 300px;
  }
  
  .modal-logo {
    width: 64px;
    height: 66px;
    margin-bottom: 20px;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  

  .loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
  }
  
  .spinner {
    width: 50px;
    height: 50px;
    border: 5px solid rgba(255, 255, 255, 0.3);
    border-top-color: #ffffff;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  